$darwing-wrap-padding: 20px;
$drawing-bar-height: 40px;

.drawing-wrap {
  height: 100vh;
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: $drawing-bar-height $drawing-bar-height;

  .canvas {
    &-wrap {
      display: flex;
      flex-flow: column wrap;
      max-width: 800px;
      min-width: 800px;
      overflow: hidden;
    }

    &-button-area {
      display: flex;
      align-items: center;
      height: $drawing-bar-height;
      padding: 0px 10px;
      border: 1px solid $gray-ultra-light;
    }

    &-drawing-area {
      width: 100%;
      border: 1px solid $gray-ultra-light;
      border-top-width: 0px;
      height: calc(100% - #{$drawing-bar-height});

      background-color: #f8f8f8;
    }
  }

  .list-wrap {
    display: flex;
    padding: 10px 10px;
    border: 1px solid $gray-ultra-light;
    border-left-width: 0px;
    max-width: 280px;
    min-width: 280px;
  }
}
