@import './color';
@import './input';
@import './drawingArea';

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li button input {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Noto Sans KR", "Malgun Gothic", "-apple-system", Roboto,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $default-text-color;
}



li {
  display: block;
}

label {
  cursor: pointer;
  user-select: none;
  &:hover {
    opacity: .7;
  }
}